[Unit]
Description=Theft Deterrent agent daemon
After=network.target theftdeterrent-tpmdaemon.service theftdeterrent-guardian.service
Wants=theftdeterrent-guardian.service

[Service]
EnvironmentFile=-/etc/sysconfig/theftdeterrent_agent
ExecStart=/usr/local/theftdeterrentclient/client/theftdeterrentagent start
ExecStop=/usr/local/theftdeterrentclient/client/theftdeterrentagent stop
ExecReload=/usr/local/theftdeterrentclient/client/theftdeterrentagent restart
Type=forking
KillMode=control-group
Restart=on-failure
RestartSec=10s
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
